@import "mixin";

:root {
  --color-primary: #09eab4;
  --color-secondary: #bcbabc;
  --color-tertiary: #0c4c4c;
  --color-primary-darker: #07c89b;
  --color-secondary-darker: #7a7985;
  --color-tertiary-darker: #2c2443;
  --color-primary-opacity: #09eab621;
  --color-secondary-opacity: #bcbabc28;
  --color-tertiary-opacity: #0c4c4c1f;
  --gradient-primary: linear-gradient(to top left, #07c89b, #09eab4);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);

  --font: "Poppins";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond(desktop) {
    font-size: 54%;
  }

  @include respond(tab-lan) {
    font-size: 50%;
  }

  @include respond(tab-port) {
    font-size: 46%;
  }

  @include respond(large-phone) {
    font-size: 42%;
  }

  @include respond(small-phone) {
    font-size: 37%;
  }

  @include respond(small-screen) {
    font-size: 20%;
  }
}

body {
  font-family: var(--font), sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}
